<!DOCTYPE html>
<html>
  <head>
    <title>Forms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body class='card-body border border-primary rounded m-2 p-3'>
    <% flash.each do |name, msg| %>
      <% if !flash.alert.nil? %>
        <div class= "text-danger"
          <%= content_tag :div, msg, class: name %>
        <div>
      <% elsif !flash[:success].nil? %>
        <div class= "text-success"
          <%= content_tag :div, msg, class: name %>
        <div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
